
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE-edge" />
		<meta name="viewport" content="width:device-width,initial-scale=1" />
		<meta name="keywords" content="独景，旅游，博客" />
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="shortcut icon" href="/static/icon/Dicon.ico">
	   
		<title>独景网-博客游记</title>

			<!--   Le Styles  -->
		<link rel="stylesheet" href="/static/css/bootstrap.css"/>
		<link rel="stylesheet" href="/static/css/custom.css"/>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements  -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<!--[if IE 7]>
		  <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome-ie7.css" rel="stylesheet">
		<![endif]-->
		
		<script type="text/javascript" src="/static/js/jquery-2.0.0.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/js/modernizr.custom.js"></script>
		<style type="text/css">
        .copyright {
    background: #111;
    font-size: 13px;
    text-align: center;
    color: #555555;
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 1px solid #303030;
}</style>

	</head>

<body>
	<header class="banner">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>一个属于大学生的旅游博客空间</h1>
					<p>跟随内心的追求，用独特的视角去发现世界的美</p>
				</div>
			</div>
		</div>
	</header>
                               
	<div class="navigation">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-offset-3">
						<div class="navbar-header">     
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#demo-navbar">
								<span class="sr-only">Togggle Navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href="{% url 'index' %}" class="navbar-brand">独景网</a>
						</div>

						<div class="collapse navbar-collapse" id="demo-navbar">
							<ul class="nav navbar-nav">
								<li class="active"><a href="{% url 'index' %}">首页</a></li>
								<li><a href="{% url 'djread' %}">读景</a></li>
								<li><a href="{% url 'djsearch' %}">寻景</a></li>
								<li><a href="{% url 'user' %}">用户</a></li>
								<li><a href="##" data-toggle="modal" data-target="#about">关于</a></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li><a class="btn" href="{% url 'login' %}">登录</a></li>
                                <li><a class="btn" href="{% url 'register' %}">注册</a></li>
							</ul>
						</div>
					</div><!-- col-sm -->
				</div><!--  row -->
			</div><!-- contaioner -->
		</nav>			
	</div>  

	<!-- Modal -->
	<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	        <span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">关于我们</h4>
	      </div>
	      <div class="modal-body">
	        <P>建立属于大学生的个人旅游博客空间</P>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
	      </div>
	    </div>
	  </div>
	</div>

 
    <main class="main">
        <div class="container sections-wrapper">
         	<div class="row">
         		<div class="primary col-md-8 col-sm-12 col-xs-12">

	         		<section class="latest section">
	         		     <div class="section-inner">
	         		         <h2 class="heading"><img src="/static/image/bloger1.jpg" alt="bloger1" />  剑起沧澜</h2>
	         		         <div class="content">    
	         		                                
	         		             <div class="item featured text-center">
	         		                <h3 class="title"><a href="{% url 'blog_proflie1' %}" target="_blank">云南之行</a></h3>
	         		                 <p class="summary">第一次去云南怎么玩？这样选路线绝对没错！</p>
	         		                 <div class="featured-image">
	         		                     <a href="{% url 'blog_proflie1' %}" target="_blank">
	         		                     <img class="img-responsive project-image" src="/static/image/project-featured01.jpg" alt="project name" />
	         		                     </a>
	         		                     <div class="ribbon">
	         		                         <div class="text">New</div>
	         		                         </div>
	         		                     </div>
	         		                     
	         		                 <div class="desc text-left">                                    
	         		                     <p>如果你也来一场说走就走的旅行，目的地会是哪？来云南吧，在这里，你会遇到云梦萦绕的山，会遇到满江春意水。淳朴善良的人儿会让你释然，你所及的一丘一壑都将书写为诗意的人生。云南那么大，第一次玩路线如何选择？告诉你这么玩一定不后悔。</p>
	         		                     <p>大理洱海是滇西北不可不去的一站。一条相当周到的2日游路线，基本上精华的景点都去到了。上万蝴蝶齐飞的蝴蝶泉，风光秀丽的洱海，洱海上的明珠南邵岛，比大理古城更原汁原味的大理古城，文创店铺林立的洋人街，千年历史的崇圣寺三塔，还有闲适的环洱海骑行时间.....</p>
	         		                 </div><!--//desc-->         
	         		                 <a class="btn btn-cta-secondary" href="{% url 'blog_proflie1' %}" target="_blank"><i class="fa fa-thumbs-o-up"></i> 阅读全文</a>                 
	         		             </div><!--//item-->
	         		  		</div><!--//content-->  
	         		    </div><!--//section-inner-->                 
	         		</section><!--//section-->


	         		<section class="latest section">
	         		     <div class="section-inner">
	         		         <h2 class="heading"><img src="/static/image/bloger2.jpg" alt="bloger2"/>  七色地图</h2>
	         		         <div class="content">    
	         		                                
	         		             <div class="item featured text-center">
	         		                <h3 class="title"><a href="/static/blog_proflie2.html" target="_blank">黄山印象</a></h3>
	         		                 <p class="summary">没有到过黄山，黄山永远只是一个概念，登一次黄山，你就什么都清楚了</p>
	         		                 <div class="featured-image">
	         		                     <a href="{% url 'blog_proflie2' %}" target="_blank">
	         		                     <img class="img-responsive project-image" src="/static/image/project-featured02.jpg" alt="project name" />
	         		                     </a>
	         		                     <div class="ribbon">
	         		                         <div class="text">New</div>
	         		                         </div>
	         		                     </div>
	         		                     
	         		                 <div class="desc text-left">                                    
	         		                     <p>来到黄山，一下子就被满眼苍松翠柏吸引住了，奇形怪状的山峰以及石头，高高地耸立，几乎顶住天空。抬起头来，立即产生“高山仰止”的感受。阳光是光明之源，阳光亮堂堂地照在我的脸上、身上，整个人就感觉被它注入了力量。我很幸庆自己赶上了黄山的好天气，虽没见到云海，却能在清澈的意境里登山，看四周清澈的景物，领悟澄澈的思想。</p>
	         		                     <p>山就在身边，在高处。抬眼看山，感觉自己是被倚在古松之中，山变得高大宽阔，人却是那样的低矮渺小。也只有在这个时候，才能感到大自然比人有力量得多。我俯视群山之间的高度，却不见一个千年的时空背景，谁的低语会顺着风潜入山的经脉呢。我一直想远离尘世喧嚣，起落的心，逐渐平静，只剩下静默的思想......</p>
	         		                 </div><!--//desc-->         
	         		                 <a class="btn btn-cta-secondary" href="{% url 'blog_proflie2' %}" target="_blank"><i class="fa fa-thumbs-o-up"></i> 阅读全文</a>                 
	         		             </div><!--//item-->
	         		  		</div><!--//content-->  
	         		    </div><!--//section-inner-->                 
	         		</section><!--//section-->

	         		<section class="latest section">
	         		     <div class="section-inner">
	         		         <h2 class="heading"><img src="/static/image/bloger3.jpg" alt="bloger3"/>  孤独川陵</h2>
	         		         <div class="content">    
	         		                                
	         		             <div class="item featured text-center">
	         		                <h3 class="title"><a href="{% url 'blog_proflie3' %}" target="_blank">西湖美景</a></h3>
	         		                 <p class="summary">红枫黄桐柳丝纤，残荷画舫西湖烟</p>
	         		                 <div class="featured-image">
	         		                     <a href="{% url 'blog_proflie3' %}" target="_blank">
	         		                     <img class="img-responsive project-image" src="/static/image/project-featured03.jpg" alt="project name" />
	         		                     </a>
	         		                     <div class="ribbon">
	         		                         <div class="text">New</div>
	         		                         </div>
	         		                     </div>
	         		                     
	         		                 <div class="desc text-left">                                    
	         		                     <p>杭州西湖位于“上有天堂，下有苏杭”的浙江省杭州市，以秀丽的湖光山色和众多的名胜古迹而成为闻名中外的旅游胜地。杭州以其美丽的西湖山水著称于世，素有“人间天堂”的美誉，表达了古往今来的人们对于这座美丽城市的由衷赞美。</p>
	         		                     <p>西湖大概是中国最有文化底蕴的湖泊了，虽然我们分别在春、夏去过，但都是浮光掠影的，想着这次看看西湖的冬景，应该是和桃红柳绿的春日、暖风荷艳的夏日别有一番风韵了，没想到一场弥天大雾却让西湖产生了一种烟笼纱罩、如梦如幻的意境......</p>
	         		                 </div><!--//desc-->         
	         		                 <a class="btn btn-cta-secondary" href="{% url 'blog_proflie3' %}" target="_blank"><i class="fa fa-thumbs-o-up"></i> 阅读全文</a>                 
	         		             </div><!--//item-->
	         		  		</div><!--//content-->  
	         		    </div><!--//section-inner-->                 
	         		</section><!--//section-->
				</div><!-- /. primary -->

         		<div class="sencondary col-md-4 col-sm-12 col-xs-12">

         		
         		<aside class="aside section">
         		    <div class="section-inner">
         		        <h2 class="heading">独景</h2>
         		        <div class="content">
         		            <div class="item">                      
         		                <h4 class="title">独辟蹊径</h4>
         		                <h4 class="text">以独特视角看待世界，发现别样的美</h4>
         		            </div><!--//item-->
         		            <div class="item">
         		                <h4 class="title">景如诗书</h4>
         		                <h4 class="text">展现自由个性与风采，记录人生美景</h4>
         		            </div><!--//item-->
         		        </div><!--//content-->
         		    </div><!--//section-inner-->
         		</aside><!--//section-->
         		
         		<aside class="calendar aside section">
         		    <div class="section-inner">
         		        <h2 class="heading">出行日程</h2>
         		        <div class="content">
         		            <ul class="list-unstyled">
         		                <li><i class="fa fa-calendar"></i>五月初夏，温度适宜，花木茂盛</li>
         		                <li><i class="fa fa-calendar"></i>七月旺季，旅游避暑，清凉一夏</li>
         		            </ul>
         		        </div><!--//content-->
         		    </div><!--//section-inner-->
         		</aside><!--//section-->

        		 <aside class="info aside section">
         		    <div class="section-inner">
         		        <h2 class="heading">风景在路上</h2>
         		        <div class="content">
         		            <ul class="list-unstyled">
         		                <li><i class="fa fa-map-marker">一个人经历一场彻底的旅行</i></li>
         		                <li><i class="fa fa-map-marker">生命不是一场赛跑，而是一次旅行</i></li>
         		                <li><i class="fa fa-map-marker">比赛在乎终点，而旅行在乎沿途风景</i></li>
         		            </ul>
         		        </div><!--//content-->  
         		    </div><!--//section-inner-->                 
         		</aside><!--//aside-->


         		<aside class="aside section">
         		  <div class="section-inner">
         		   	<h2 class="heading">标签</h2>
         		    	<div class="content body clearfix">
	         		        <ul class="tags">
	         		            <li><a href="#">旅游</a></li>
	         		            <li><a href="#">户外</a></li>
	         		            <li><a href="#">旅行摄影</a></li>
	         		            <li><a href="#">出游攻略</a></li>
	         		            <li><a href="#">黄山</a></li>
	         		            <li><a href="#">西湖美景</a></li>
	         		            <li><a href="#">自由分享</a></li>
	         		            <li><a href="#">个人博客</a></li>                            
	         		            <li><a href="#">路线</a></li>                            
	         		        </ul>
         		    	</div>
         			</div>
         		</aside>

        		<aside class="aside section">
         		    <div class="section-inner">
         		        <h2 class="heading">相关链接</h2>
         		        <div class="content">
         		            <ul class="list-unstyled">
         		                <li><i class="fa fa-facebook"></i> <a href="#">户外旅行指南</a></li>
         		                <li><i class="fa fa-youtube"></i> <a href="#">独自一人的旅行</a></li>
         		                <li><i class="fa fa-twitter"></i> <a href="#">旅行爱好者的个人空间</a></li>
         		            </ul>
         		        </div><!--//content-->
         		    </div><!--//section-inner-->
         		</aside><!--//section-->

         		</div><!-- /. secondary -->
         	</div>
        </div>
    </main>


         
    <footer>
      <div class="container">
        <div class="row">
 
          <div class="col-xs-12 col-sm-4 col-md-4">
               <h4>加入我们</h4>
               <p>
               	QQ:762634089<br>
               	email:762634089@qq.com<br>
               </p>
          </div>
         
          <div class="col-xs-12 col-sm-4 col-md-4">            
            <h4>有用链接</h4>
              <ul class="list-inline">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>        
              </ul>
          </div>
    
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h4>时事通讯</h4>
            <form class="form" role="form">
              <div class="row">
                <div class="col-xs-12">
                  <div class="input-group">
                    <label class="sr-only" for="subscribe-email">请输入你的要求...</label>
                    <input type="email" class="form-control" id="subscribe-email" placeholder="请输入你的要求...">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-success">发 送</button>
                    </span>
                  </div>
                </div>
              </div>
            </form>
            <br />
            
          </div>  
        </div>
      </div>
  
    </footer>
<div class="copyright wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
        <div class="container">
          <span>Copyright &copy; <a style= "color:#555555" href="http://2017.jsjds.org/">2017 中国大学生计算机设计大赛比赛用&nbsp&nbsp|&nbsp&nbsp</a></span>
                    <span><a style= "color:#555555" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=34019102000116" target="_blank"><img src="/static/image/beian.png" alt="police beian" >皖公网安备 34019102000116号</a></span></center> 
		 
        </div>
      </div>
</body>
</html>