
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE-edge" />
		<meta name="viewport" content="width:device-width,initial-scale=1" />
		<meta name="keywords" content="独景，旅游，博客" />
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="shortcut icon" href="/static/icon/Dicon.ico">
	   
		<title>独景网-博客游记</title>

			<!--   Le Styles  -->
		<link rel="stylesheet" href="/static/css/bootstrap.css"/>
		<link rel="stylesheet" href="/static/css/custom.css"/>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements  -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<!--[if IE 7]>
		  <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome-ie7.css" rel="stylesheet">
		<![endif]-->
		
		<script type="text/javascript" src="/static/js/jquery-2.0.0.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/js/modernizr.custom.js"></script>
		<script type="text/javascript" src="/static/js/search.js"></script>
		<style type="text/css">
        .copyright {
    background: #111;
    font-size: 13px;
    text-align: center;
    color: #555555;
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 1px solid #303030;
}</style>
	</head>

<body>
	<header class="banner">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>一个属于大学生的旅游博客空间</h1>
					<p>跟随内心的追求，用独特的视角去发现世界的美</p>
				</div>
			</div>
		</div>
	</header>
                               
	<div class="navigation">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-offset-3">
						<div class="navbar-header">     
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#demo-navbar">
								<span class="sr-only">Togggle Navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href="{% url 'index' %}" class="navbar-brand">独景网</a>
						</div>

						<div class="collapse navbar-collapse" id="demo-navbar">
							<ul class="nav navbar-nav">
								<li class="active"><a href="{% url 'index' %}">首页</a></li>
								<li><a href="{% url 'djread' %}">读景</a></li>
								<li><a href="{% url 'djsearch' %}">寻景</a></li>
								<li><a href="{% url 'user' %}">用户</a></li>
								<li><a href="##" data-toggle="modal" data-target="#about">关于</a></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li><a class="btn" href="{% url 'login' %}">登录</a></li>
                                <li><a class="btn" href="{% url 'register' %}">注册</a></li>
							</ul>
						</div>
					</div><!-- col-sm -->
				</div><!--  row -->
			</div><!-- contaioner -->
		</nav>			
	</div>  

	<!-- Modal -->
	<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	        <span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">关于我们</h4>
	      </div>
	      <div class="modal-body">
	        <P>建立属于大学生的个人旅游博客空间</P>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
	      </div>
	    </div>
	  </div>
	</div>


	<div class="search">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<form action="http://www..com" method=post name=form1>
						<table>
							<tr>
								<td class="black_con9" align="right">  省份： </td>
								<td class="black_con9">
								<select name="selectp" onChange="selectcityarea('selectp','selectc','form1');">
									<option value="0" selected>未选择
								</select>
								</td>
								<td class="black_con9" align="right">  景点： </td>
								<td class="black_con9">
								<select name="selectc">
								<option value="0" selected>未选择
								</select>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>


   <main class="main">
        <div class="container sections-wrapper">
         	<div class="row">
         		<div class="primary col-md-8 col-sm-12 col-xs-12">


	         		<section class="latest section">
	         		     <div class="section-inner">
	         		         <h2 class="heading">安徽黄山</h2>
	         		         <div class="content">    
	         		                                
	         		             <div class="item featured text-center">
	         		                
	         		                 <div class="featured-image">
	         		                     <a href="{% url 'search_place1' %}" target="_blank">
	         		                     <img class="img-responsive project-image" src="/static/image/search1/search1.jpg" alt="project name" />
	         		                     </a>
	         		                </div>
	         		                     
	         		                 <div class="desc text-left">                                    
	         		                     <p>黄山有“泰岱之雄伟、华山之险峻、衡岳之烟云、匡庐之飞瀑、雁荡之巧石、峨嵋之清秀”之称，被世人誉为“天下第一奇山”。以四绝三瀑、玉屏景区、北海景区、白云景区、松谷景区等风光闻名于世...</p>
	         		                 </div><!--//desc-->         
	         		                 <a class="btn btn-cta-secondary" href="{% url 'search_place1' %}" target="_blank"><i class="fa fa-thumbs-o-up"></i>详细信息</a>                 
	         		             </div><!--//item-->
	         		  		</div><!--//content-->  
	         		    </div><!--//section-inner-->                 
	         		</section><!--//section-->



	         		<section class="latest section">
	         		     <div class="section-inner">
	         		         <h2 class="heading">云南大理</h2>
	         		         <div class="content">    
	         		                                
	         		             <div class="item featured text-center">
	         		                
	         		                 <div class="featured-image">
	         		                     <a href="{% url 'search_place2' %}" target="_blank">
	         		                     <img class="img-responsive project-image" src="/static/image/search2/search2.1.jpg" alt="project name" />
	         		                     </a>
	         		                </div>
	         		                     
	         		                 <div class="desc text-left">                                    
	         		                     <p>大理是中国唯一的白族自治州，也是闻名于世的电影“五朵金花”的故乡。地处低纬高原，四季温差不大。以秀丽山水和少数民族风情闻名于世，境内以蝴蝶泉、洱海、崇圣寺三塔等景点最有代表性...</p>
	         		                 </div><!--//desc-->         
	         		                 <a class="btn btn-cta-secondary" href="{% url 'search_place2' %}" target="_blank"><i class="fa fa-thumbs-o-up"></i>详细信息</a>                 
	         		             </div><!--//item-->
	         		  		</div><!--//content-->  
	         		    </div><!--//section-inner-->                 
	         		</section><!--//section-->


	         		<section class="latest section">
	         		     <div class="section-inner">
	         		         <h2 class="heading">杭州西湖</h2>
	         		         <div class="content">    
	         		                                
	         		             <div class="item featured text-center">
	         		                
	         		                 <div class="featured-image">
	         		                     <a href="{% url 'search_place3' %}" target="_blank">
	         		                     <img class="img-responsive project-image" src="/static/image/search3/search3.1.jpg" alt="project name" />
	         		                     </a>
	         		                </div>
	         		                     
	         		                 <div class="desc text-left">                                    
	         		                     <p>杭州西湖位于“上有天堂，下有苏杭”的浙江省杭州市，以秀丽的湖光山色和众多的名胜古迹而成为闻名中外的旅游胜地。西湖的美，在于晴中见潋滟，雨中显空蒙，无论雨雪晴阴都能成美景...</p>
	         		                 </div><!--//desc-->         
	         		                 <a class="btn btn-cta-secondary" href="{% url 'search_place3' %}" target="_blank"><i class="fa fa-thumbs-o-up"></i>详细信息</a>                 
	         		             </div><!--//item-->
	         		  		</div><!--//content-->  
	         		    </div><!--//section-inner-->                 
	         		</section><!--//section-->

	         	
				</div><!-- /. primary -->

         		<div class="sencondary col-md-4 col-sm-12 col-xs-12">


                    <aside class="aside section">
                        <div class="section-inner">
                            <h2 class="heading">景区介绍</h2>
                            <div class="content">
	                            <p>了解旅游地区的人文历史，风俗人情。<br>
	                            了解美景背后的动人故事，人间沧桑</p>
                            </div><!--//content-->
                        </div><!--//section-inner-->
                    </aside><!--//section-->
         		
                    <aside class="aside section">
                        <div class="section-inner">
                            <h2 class="heading">旅游信息</h2>
                            <div class="content">
                                <ul class="list-unstyled">
                                    <li class="item">
                                        <span class="title"><strong>景区评价:</strong></span>
                                        <span class="level">通过广大游客的实际体验得出的评价，
                                        真实介绍景区实际情况</span>
                                    </li><!--//item-->
                                    <li class="item">
                                        <span class="title"><strong>游玩票价:</strong></span>
                                        <span class="level">提供既时的景区游玩票价，方便游客提前做好准备</span>
                                    </li><!--//item-->
                                </ul>
                            </div><!--//content-->
                        </div><!--//section-inner-->
                    </aside><!--//section-->
                    


         		</div><!-- /. secondary -->
         	</div>
        </div>
    </main>


	     <footer>
      <div class="container">
        <div class="row">
 
          <div class="col-xs-12 col-sm-4 col-md-4">
               <h4>加入我们</h4>
               <p>
               	QQ:762634089<br>
               	email:762634089@qq.com<br>
               </p>
          </div>
         
          <div class="col-xs-12 col-sm-4 col-md-4">            
            <h4>有用链接</h4>
              <ul class="list-inline">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>        
              </ul>
          </div>
    
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h4>时事通讯</h4>
            <form class="form" role="form">
              <div class="row">
                <div class="col-xs-12">
                  <div class="input-group">
                    <label class="sr-only" for="subscribe-email">请输入你的要求...</label>
                    <input type="email" class="form-control" id="subscribe-email" placeholder="请输入你的要求...">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-success">发 送</button>
                    </span>
                  </div>
                </div>
              </div>
            </form>
            <br />
            
          </div>  
        </div>
      </div>
  
    </footer>

    <div class="copyright wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
        <div class="container">
          <span>Copyright &copy; <a style= "color:#555555" href="http://2017.jsjds.org/">2017 中国大学生计算机设计大赛比赛用&nbsp&nbsp|&nbsp&nbsp</a></span>
                    <span><a style= "color:#555555" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=34019102000116" target="_blank"><img src="/static/image/beian.png" alt="police beian" >皖公网安备 34019102000116号</a></span></center> 
		 
        </div>
      </div>
    <script language="javascript">
    first("selectp","selectc","form1",0,0);
    </script>
</body>
</html>