
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge" />
        <meta name="viewport" content="width:device-width,initial-scale=1" />
        <meta name="keywords" content="独景，旅游，博客" />
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="http://image.cangye.me//static/icon/Dicon.ico">
       
        <title>独景网-登录</title>

            <!--   Le Styles  -->
        <link rel="stylesheet" href="http://image.cangye.me//static/css/bootstrap.css"/>
        <link rel="stylesheet" href="http://image.cangye.me//static/css/custom.css"/>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements  -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <!--[if IE 7]>
          <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome-ie7.css" rel="stylesheet">
        <![endif]-->
        <script type="text/javascript" src="http://image.cangye.me//static/js/jquery-2.0.0.min.js"></script>
		<script type="text/javascript" src="http://image.cangye.me//static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://image.cangye.me//static/js/modernizr.custom.js"></script>

    </head>

<body>

    <div class="navigation">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-offset-3">
                        <div class="navbar-header">     
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#demo-navbar">
                                <span class="sr-only">Togggle Navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="{% url 'index' %}" class="navbar-brand">独景网</a>
                        </div>

                        <div class="collapse navbar-collapse" id="demo-navbar">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="{% url 'index' %}">首页</a></li>
                                <li><a href="{% url 'djread' %}">读景</a></li>
                                <li><a href="{% url 'djsearch' %}">寻景</a></li>
                                <li><a href="{% url 'user' %}">用户</a></li>
                                <li><a href="##" data-toggle="modal" data-target="#about">关于</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                 <li><a class="btn big-default" href="{% url 'login' %}">登录</a></li>
                                <li><a class="btn big-default" href="{% url 'register' %}">注册</a></li>
                            </ul>
                        </div>
                    </div><!-- col-sm -->
                </div><!--  row -->
            </div><!-- contaioner -->
        </nav>          
    </div>  

    <!-- Modal -->
    <div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">关于我们</h4>
          </div>
          <div class="modal-body">
            <P>建立属于大学生的个人旅游博客空间</P>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>



    <div class="sign_in">
       <div class="container">
         <div class="row">
           <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
             <div class="sign-form">
               <div class="sign-inner">
                 <h3 class="first-child">登 录</h3>
                 <hr>
                 <form  action="/login/" method="post" >
                   <div class="input-group {% if login_form.errors.username %}errorput{% endif %}">
                     <span class="input-group-addon "><i class="fa fa-user"></i></span>
                     <input name = "username" type="text" class="form-control" id="username" placeholder="邮 箱" data-original-title="" title="">
                   </div>
                   <br />
                   <div  class="input-group {% if login_form.errors.password %}errorput{% endif %} ">
                     <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                     <input name="password" type="password" class="form-control" id="password" placeholder="密 码" data-original-title="" title="">
                   </div>
                    <div class="error btns login-form-tips" id="jsLoginTips">{% for key,error in login_form.errors.items %}{{ error }}{% endfor %}{{ msg }}</div>
                   <div class="checkbox">
                     <label>
                       <input type="checkbox"> 记住密码
                     </label>
                   </div>
                            <input  type="submit" class="btn btn-success" value="立即登录  "/> 
                                        
                   <hr>

                   {% csrf_token %}
                 </form>
                 <p>没有账号？ <a href="{% url 'register'}">创建账号</a></p>
                 <div class="pwd-lost">
                   <div class="pwd-lost-q show">忘记密码？ <a href="#">找回密码</a></div>
                     <div class="pwd-lost-f hidden">
                       <p class="text-muted">请输入一个有效的邮箱地址</p>
                         <form class="form-inline" role="form">
                          <div class="row">
                                <div class="col-xs-8">
                                  <div class="input-group">
                                     <label class="sr-only" for="email-pwd">邮箱地址</label>
                                     <input type="email" class="form-control" id="email-pwd" placeholder="Enter your email" style="height:40px;">
                                       <span class="input-group-btn">
                                       <button type="submit" class="btn btn-danger">发送</button>
                                       </span>
                                  </div>
                                </div>
                          </div>
                        </form>
                   </div>
                 </div> <!-- / .pwd-lost -->
               </div>
             </div>
           </div>
         </div> <!-- / .row -->      
       </div> <!-- / .container -->
    </div><!--  /. sign_in -->

    <script type="text/javascript">
        $('.pwd-lost > .pwd-lost-q > a').on('click', function() {
            $(".pwd-lost > .pwd-lost-q").toggleClass("show hidden");
            $(".pwd-lost > .pwd-lost-f").toggleClass("hidden show animated fadeIn");
            return false;
        });
    </script>
    
</body>
</html>