
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge" />
        <meta name="viewport" content="width:device-width,initial-scale=1" />
        <meta name="keywords" content="独景，旅游，博客" />
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="icon/Dicon.ico">
       
        <title>独景网</title>

            <!--   Le Styles  -->
        <link rel="stylesheet" href="css/bootstrap.css"/>
        <link rel="stylesheet" href="css/custom.css"/>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements  -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <!--[if IE 7]>
          <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome-ie7.css" rel="stylesheet">
        <![endif]-->
        <script type="text/javascript" src="js/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/modernizr.custom.js"></script>

    </head>

<body>

    <!-- Wrapper -->
    <div class="wrapper">

      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-md-offset-3">
            <div class="sign text-center">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h2>注册成功......</h2>                       
                  <p><a href="index.html">返回首页</a> <span class="divider">|</span> <a href="sign_in.html">进行登录</a></p>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </div> <!-- / .wrapper -->


</body>
</html>