
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge" />
        <meta name="viewport" content="width:device-width,initial-scale=1" />
        <meta name="keywords" content="独景，旅游，博客" />
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="http://image.cangye.me//static/icon/Dicon.ico">
       
        <title>独景网-游记</title>

            <!--   Le Styles  -->
        <link rel="stylesheet" href="http://image.cangye.me//static/css/bootstrap.css"/>
        <link rel="stylesheet" href="http://image.cangye.me//static/css/custom.css"/>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements  -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <!--[if IE 7]>
          <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome-ie7.css" rel="stylesheet">
        <![endif]-->
        
        <script type="text/javascript" src="http://image.cangye.me//static/js/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="http://image.cangye.me//static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://image.cangye.me//static/js/modernizr.custom.js"></script><style type="text/css">
        .copyright {
    background: #111;
    font-size: 13px;
    text-align: center;
    color: #555555;
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 1px solid #303030;
}</style>
    </head>

<body>
                               
    <div class="navigation">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9 col-sm-12 col-xs-12">
                        <div class="navbar-header">     
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#demo-navbar">
                                <span class="sr-only">Togggle Navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="{% url 'index' %}" class="navbar-brand">独景网</a>
                        </div>

                        <div class="collapse navbar-collapse" id="demo-navbar">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="{% url 'index' %}">首页</a></li>
                                <li><a href="{% url 'djread' %}">读景</a></li>
                                <li><a href="{% url 'djsearch' %}">寻景</a></li>
                                <li><a href="#">博客</a></li>
                                <li><a href="{% url 'user' %}">用户</a></li>
                                <li><a href="##" data-toggle="modal" data-target="#about">关于</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a class="btn" href="{% url 'login' %}">登录</a></li>
                                <li><a class="btn" href="{% url 'register' %}">注册</a></li>
                            </ul>
                        </div>
                    </div><!-- col-sm -->
                </div><!--  row -->
            </div><!-- contaioner -->
        </nav>          
    </div>  

    <!-- Modal -->
    <div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">关于我们</h4>
          </div>
          <div class="modal-body">
            <P>建立属于大学生的个人旅游博客空间</P>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>




     <main class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                      <!-- Topic Header -->
                  <div class="topic">
                    <ol class="breadcrumb hidden-xs">
                      <li><a href="{% url 'index' %}">首 页</a></li>
                      <li><a href="{% url 'djsearch' %}">寻景</a></li>
                      <li class="active">安徽黄山</li>
                    </ol>  
                  </div> 
                </div>
            </div>
            <div class="row">
                <div class="primary col-md-8 col-sm-12-xs-12">
                     <section class="latest section">
                         <div class="section-inner">
                             <h2 class="heading">安徽黄山</h2>
                             <div class="content">    
                                                   
                                 <div class="item featured text-center">
                                 <h3 class="title">黄山（安徽国家5A级风景区） </h3>
                                     <div class="featured-image">
                                         <a href="#" target="_blank">
                                         <img class="img-responsive project-image" src="http://image.cangye.me//static/image/search1/search1.jpg" alt="project name" />
                                         </a>
                                      </div>
                                         
                                     <div class="desc text-left">                               
                                         <p>黄山：世界文化与自然双重遗产，世界地质公园，国家AAAAA级旅游景区，国家级风景名胜区，全国文明风景旅游区示范点，中华十大名山，天下第一奇山。</p><br>
                                         <p>明朝旅行家徐霞客登临黄山时赞叹：“薄海内外之名山，无如徽之黄山。登黄山，天下无山，观止矣！”被后人引申为“五岳归来不看山，黄山归来不看岳”。</p>
                                         <br>
                                     </div><!--//desc-->         
                                                     
                                 </div><!--//item-->

                                 <div class="item featured text-left">
                                    <div class="desc text-left">
                                      <div class="media">
                                        <img class="media-object pull-right" src="http://image.cangye.me//static/image/search1/media1.jpg" alt="...">
                                        <div class="media-body">
                                           <p>黄山原名“黟山”，因峰岩青黑，遥望苍黛而名。后因传说轩辕黄帝曾在此炼丹，故改名为“黄山”。黄山代表景观有“四绝三瀑”，四绝：奇松、怪石、云海、温泉；三瀑：人字瀑、百丈泉、九龙瀑。黄山迎客松是安徽人民热情友好的象征，承载着拥抱世界的东方礼仪文化。</p>
                                        </div>
                                      </div> <!-- /. media -->
                                    </div>
                                 </div> 


                                <div class="item featured text-left">
                                    <h2>景区荣誉</h2>
                                    <div class="desc text-left">
                                      <p>1990年12月12日，黄山被联合国教科文组织列入“世界自然和文化遗产名录”。世界遗产委员会对黄山的评价是：黄山，在中国历史上文学艺术的鼎盛时期（公元16世纪中叶的“山水”风格）曾受到广泛的赞誉，以“震荡国中第一奇山”而闻名。</p>
                                      <p>2002年，被授予中国国家地质公园（第二批）。</p>
                                      <p>2004年入选首批世界地质公园，成为同时获得世界文化和自然遗产以及世界地质公园三项荣誉的旅游胜地。</p>
                                      <p>2007年入选“中华十大名山”，列中国名山第四位，仅次于泰山、珠峰、峨眉山。</p>
                                      <p>2015年1月，入选首批世界自然保护联盟（IUCN）绿色名录。</p>
                                      <div class="featured-image">
                                         <img class="img-responsive project-image" src="http://image.cangye.me//static/image/search1/search2.jpg" alt="project name" />
                                      </div>
                                    </div>
                                </div> 


                                <div class="item featured text-left">
                                    <h2>四绝三瀑</h2>
                                    <div class="desc text-left">
                                      <p>黄山四绝，是指中国安徽省黄山的四种独特景观。分别为：奇松、怪石、云海、温泉。<br>黄山三大名瀑：“人字瀑”、“百丈泉”和“九龙瀑”。</p>
                                     
                                      <div class="media">
                                        <img class="media-object pull-right" src="http://image.cangye.me//static/image/search1/media2.jpg" alt="...">
                                        <div class="media-body">
                                         <h4>奇松</h4>
                                      <p>奇松即形态奇特的松树。最著名的黄山松有：迎客松、望客松、送客松、探海松、蒲团松、黑虎松、卧龙松、麒麟松、连理松，这就是黄山的十大名松。</p>
                                      
                                      <h4>怪石</h4>
                                         <p>黄山已被命名的怪石有120多处，其形态各异。黄山怪石从不同的位置，在不同的天气观看，可谓“横看成岭侧成峰，远近高低各不同”。</p>
                                         </div>
                                        </div>
                                      <div class="media">
                                        <img class="media-object pull-right" src="http://image.cangye.me//static/image/search1/media3.jpg" alt="...">
                                        <div class="media-body">
                                           <h4>云海</h4>
                                           <p>自古黄山云成海，是云雾之乡，其瑰丽壮观的“云海”以美、胜、奇、幻享誉古今，一年四季皆可观、尤以冬季景最佳。依云海分布方位，全山有东海、南海、西海、北海和天海。</p>
                                           <h4>温泉</h4>
                                           <p>黄山“四绝”之一的温泉（古称汤泉），源出海拔850米的紫云峰下，水质以含重碳酸为主，可饮可浴。传说轩辕黄帝就是在此沐浴七七四十九日得返老还童，羽化飞升的，故又被誉之为“灵泉”。</p>
                                        </div>
                                      </div> <!-- /. media -->
                                    </div>
                                 </div>

                                 <div class="item featured text-left">
                                    <h2>历史文化</h2>
                                    <div class="desc text-left">
                                      <h4>历史地位</h4>
                                      <p>五岳归来不看山，黄山归来不看岳。黄山以其“五绝”的奇景和博大的徽文化蜚声海内外，被誉为“天下第一奇山”。<br>黄山奇景代表着江淮山河之美。黄山迎客松是安徽人民热情友好的象征，承载着拥抱世界的东方礼仪文化。</p>
                                      <h4>文化底蕴</h4>
                                      <p>黄山不仅是一座美丽的自然之山，还是一座丰富的艺术宝库。自古以来，人们游览黄山，建设黄山，歌颂黄山，留下了丰厚的文化遗产，概括起来就是遗存、书画、文学、传说、名人“五胜”。</p>
                                    </div>
                                    <div class="featured-image">
                                         <img class="img-responsive project-image" src="http://image.cangye.me//static/image/search1/search3.jpg" alt="project name" />
                                      </div>
                                 </div>

                                

                            </div><!--//content-->  
                        </div><!--//section-inner-->                 
                    </section><!--//section-->
                </div>
                <div class="secondary col-md-4 col-sm-12-xs-12">
                     <aside class="languages aside section">
                        <div class="section-inner">
                            <h2 class="heading">景区简介</h2>
                            <div class="content">
                               <div class="intro">
                                 <P>五岳归来不看山，黄山归来不看岳。黄山的美在于它的厚重与轻盈，妖娆和庄重，变化多端。天地之美，美在自然；自然之美，美在黄山！</P>
                               </div>
                            </div><!--//content-->
                        </div><!--//section-inner-->
                    </aside><!--//section-->

                    <aside class="aside section">
                        <div class="section-inner">
                            <h2 class="heading">星级指数</h2>
                            <div class="content">
                                <ul class="list-unstyled">
                                    <li class="item">
                                        <span class="title"><strong>景区星级:</strong></span>
                                        <span class="level"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                                    </li><!--//item-->
                                    <li class="item">
                                        <span class="title"><strong>服务星级:</strong></span>
                                        <span class="level"><br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                                    </li><!--//item-->
                                </ul>
                            </div><!--//content-->
                        </div><!--//section-inner-->
                    </aside><!--//section-->
                </div>
            </div>
        </div>
     </main>






















    <footer>
      <div class="container">
        <div class="row">
 
          <div class="col-xs-12 col-sm-4 col-md-4">
               <h4>加入我们</h4>
               <p>
                QQ:762634089<br>
                email:762634089@qq.com<br>
               </p>
          </div>
         
          <div class="col-xs-12 col-sm-4 col-md-4">            
            <h4>有用链接</h4>
              <ul class="list-inline">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>        
              </ul>
          </div>
    
          <div class="col-xs-12 col-sm-4 col-md-4">
            <h4>时事通讯</h4>
            <form class="form" role="form">
              <div class="row">
                <div class="col-xs-12">
                  <div class="input-group">
                    <label class="sr-only" for="subscribe-email">请输入你的要求...</label>
                    <input type="email" class="form-control" id="subscribe-email" placeholder="请输入你的要求...">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-success">发 送</button>
                    </span>
                  </div>
                </div>
              </div>
            </form>
            <br />
            
          </div>  
        </div>
      </div>
  
    </footer>
<div class="copyright wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
        <div class="container">
          <span>Copyright &copy; <a style= "color:#555555" href="http://2017.jsjds.org/">2017 中国大学生计算机设计大赛比赛用&nbsp&nbsp|&nbsp&nbsp</a></span>
                    <span><a style= "color:#555555" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=34019102000116" target="_blank"><img src="http://image.cangye.me//static/image/beian.png" alt="police beian" >皖公网安备 34019102000116号</a></span></center> 
     
        </div>
      </div>


</body>
</html>