
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge" />
        <meta name="viewport" content="width:device-width,initial-scale=1" />
        <meta name="keywords" content="独景，旅游，博客" />
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="http://image.cangye.me//static/icon/Dicon.ico">
       
        <title>独景网-个人主页</title>

            <!--   Le Styles  -->
        <link rel="stylesheet" href="http://image.cangye.me//static/css/bootstrap.css"/>
        <link rel="stylesheet" href="http://image.cangye.me//static/css/custom.css"/>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements  -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <!--[if IE 7]>
          <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome-ie7.css" rel="stylesheet">
        <![endif]-->
        
        <script type="text/javascript" src="http://image.cangye.me//static/js/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="http://image.cangye.me//static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://image.cangye.me//static/js/modernizr.custom.js"></script>

                <!-- Ueditor -->
        <script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.config.js"></script>
        <script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.all.min.js"> </script>
        <script type="text/javascript" charset="utf-8" src="/static/ueditor/lang/zh-cn/zh-cn.js"></script>
<style type="text/css">
        .copyright {
    background: #111;
    font-size: 13px;
    text-align: center;
    color: #555555;
    padding-t/op: 28px;
    padding-bottom: 28px;
    border-top: 1px solid #303030;
}</style>
   
</head>

<body>
                               
    <div class="navigation">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9 col-sm-12 col-xs-12">
                        <div class="navbar-header">     
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#demo-navbar">
                                <span class="sr-only">Togggle Navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="{% url 'index' %}" class="navbar-brand">独景网</a>
                        </div>

                        <div class="collapse navbar-collapse" id="demo-navbar">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="{% url 'index' %}">首页</a></li>
                                <li><a href="{% url 'djread' %}">读景</a></li>
                                <li><a href="{% url 'djsearch' %}">寻景</a></li>
                                <li><a href="{% url 'user' %}">用户</a></li>
                                <li><a href="##" data-toggle="modal" data-target="#about">关于</a></li>
                            </ul>
                        </div>
                    </div><!-- col-sm -->
                </div><!--  row -->
            </div><!-- contaioner -->
        </nav>          
    </div>  

    <!-- Modal -->
    <div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">关于我们</h4>
          </div>
          <div class="modal-body">
            <P>建立属于大学生的个人旅游博客空间</P>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>

    <div class="user">
        <div class="container">                       
            <img class="profile-image img-responsive pull-left" src="http://image.cangye.me//static/image/profile.png" alt="James Lee" />
            <div class="profile-content pull-left">
                <h1 class="name">剑起沧澜</h1>
                <h2 class="desc">旅行爱好者</h2>   
                <ul class="social list-inline">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>                   
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-github-alt"></i></a></li>                                   
                </ul> 
            </div><!--//profile-->
            <a class="btn btn-cta-primary pull-right" href="{% url 'user_message' %}" target="_blank"><i class="fa fa-paper-plane"></i>修改信息</a>              
        </div><!--//container-->
    </div><!--//header-->



    <main class="main">
        <div class="container sections-wrapper">
            <div class="row">
                <div class="primary col-md-8 col-sm-12 col-xs-12">
                <form action="server.php" method="post">
                    <!-- 加载编辑器的容器 -->
                    <script id="editor" name="content" type="text/plain" style="width:700px;height:500px">
                        <p>在这里开始你的游记<p>
                    </script>
                </form>

                </div>



                <div class="secondary col-md-4 col-sm-12 col-xs-12">


                    <div class="panel-group" id="help-nav">

                      <div class="panel">
                        <div class="panel-heading bg-panelh">
                          <a data-toggle="collapse" data-parent="#help-nav" href="#help-nav-one">
                            博客等级
                          </a>
                        </div>
                        <div id="help-nav-one" class="panel-collapse collapse in">
                          <div class="panel-body bg-panelb">
                            <p>
                              已发表21篇
                            </p>
                          </div>
                        </div>
                      </div>
                     
                     <div class="panel">
                        <div class="panel-heading bg-panelh">
                          <a data-toggle="collapse" data-parent="#help-nav" href="#help-nav-two" class="collapsed">
                            发表游记
                          </a>
                        </div>
                        <div id="help-nav-two" class="panel-collapse collapse">
                          <div class="panel-body bg-panelb">
                            <p>
                              ...................................................
                            </p>
                          </div>
                        </div>
                      </div>

                      <div class="panel">
                        <div class="panel-heading bg-panelh">
                          <a data-toggle="collapse" data-parent="#help-nav" href="#help-nav-three" class="collapsed">
                            好友列表
                          </a>
                        </div>
                        <div id="help-nav-three" class="panel-collapse collapse">
                          <div class="panel-body bg-panelb">
                            <p>
                              ...................................................
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="panel">
                        <div class="panel-heading bg-panelh">
                          <a data-toggle="collapse" data-parent="#help-nav" href="#help-nav-four" class="collapsed">
                            邮箱信息
                          </a>
                        </div>
                        <div id="help-nav-four" class="panel-collapse collapse">
                          <div class="panel-body bg-panelb">
                            <p>
                              ...................................................
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="panel">
                        <div class="panel-heading bg-panelh">
                          <a data-toggle="collapse" data-parent="#help-nav" href="#help-nav-five" class="collapsed">
                            登录状态
                          </a>
                        </div>
                        <div id="help-nav-five" class="panel-collapse collapse">
                          <div class="panel-body bg-panelb">
                            <p>
                              ...................................................
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>



                </div><!-- /. secondary -->



            </div><!--  /. row -->
        </div><!--  /. container -->
    </main>













 
  <footer>
        <div class="container">
          <div class="row">
      
            <div class="col-xs-12 col-sm-4 col-md-4">
                 <h4>加入我们</h4>
                 <p>
                  QQ:762634089<br>
                  email:762634089@qq.com<br>
                 </p>
            </div>
           
            <div class="col-xs-12 col-sm-4 col-md-4">            
              <h4>有用链接</h4>
                <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                  <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-skype"></i></a></li>        
                </ul>
            </div>
      
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h4>时事通讯</h4>
              <form class="form" role="form">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="input-group">
                      <label class="sr-only" for="subscribe-email">请输入你的要求...</label>
                      <input type="email" class="form-control" id="subscribe-email" placeholder="请输入你的要求...">
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-success">发 送</button>
                      </span>
                    </div>
                  </div>
                </div>
              </form>
              <br />          
            </div>  
          </div>
        </div>   
  </footer>
<div class="copyright wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
        <div class="container">
          <span>Copyright &copy; <a style= "color:#555555" href="http://2017.jsjds.org/">2017 中国大学生计算机设计大赛比赛用&nbsp&nbsp|&nbsp&nbsp</a></span>
                    <span><a style= "color:#555555" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=34019102000116" target="_blank"><img src="http://image.cangye.me//static/image/beian.png" alt="police beian" >皖公网安备 34019102000116号</a></span></center> 
     
        </div>
      </div>

<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');


    function isFocus(e){
        alert(UE.getEditor('editor').isFocus());
        UE.dom.domUtils.preventDefault(e)
    }
    function setblur(e){
        UE.getEditor('editor').blur();
        UE.dom.domUtils.preventDefault(e)
    }
    function insertHtml() {
        var value = prompt('插入html代码', '');
        UE.getEditor('editor').execCommand('insertHtml', value)
    }
    function createEditor() {
        enableBtn();
        UE.getEditor('editor');
    }
    function getAllHtml() {
        alert(UE.getEditor('editor').getAllHtml())
    }
    function getContent() {
        var arr = [];
        arr.push("使用editor.getContent()方法可以获得编辑器的内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getContent());
        alert(arr.join("\n"));
    }
    function getPlainTxt() {
        var arr = [];
        arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getPlainTxt());
        alert(arr.join('\n'))
    }
    function setContent(isAppendTo) {
        var arr = [];
        arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
        UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
        alert(arr.join("\n"));
    }
    function setDisabled() {
        UE.getEditor('editor').setDisabled('fullscreen');
        disableBtn("enable");
    }

    function setEnabled() {
        UE.getEditor('editor').setEnabled();
        enableBtn();
    }

    function getText() {
        //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
        var range = UE.getEditor('editor').selection.getRange();
        range.select();
        var txt = UE.getEditor('editor').selection.getText();
        alert(txt)
    }

    function getContentTxt() {
        var arr = [];
        arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
        arr.push("编辑器的纯文本内容为：");
        arr.push(UE.getEditor('editor').getContentTxt());
        alert(arr.join("\n"));
    }
    function hasContent() {
        var arr = [];
        arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
        arr.push("判断结果为：");
        arr.push(UE.getEditor('editor').hasContents());
        alert(arr.join("\n"));
    }
    function setFocus() {
        UE.getEditor('editor').focus();
    }
    function deleteEditor() {
        disableBtn();
        UE.getEditor('editor').destroy();
    }
    function disableBtn(str) {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                btn.setAttribute("disabled", "true");
            }
        }
    }
    function enableBtn() {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
        }
    }

    function getLocalData () {
        alert(UE.getEditor('editor').execCommand( "getlocaldata" ));
    }

    function clearLocalData () {
        UE.getEditor('editor').execCommand( "clearlocaldata" );
        alert("已清空草稿箱")
    }
</script>




</body>
</html>