
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge" />
        <meta name="viewport" content="width:device-width,initial-scale=1" />
        <meta name="keywords" content="独景，旅游，博客" />
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="/static/icon/Dicon.ico">
       
        <title>独景网-个人信息</title>

            <!--   Le Styles  -->
        <link rel="stylesheet" href="/static/css/bootstrap.css"/>
        <link rel="stylesheet" href="/static/css/custom.css"/>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements  -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <!--[if IE 7]>
          <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome-ie7.css" rel="stylesheet">
        <![endif]-->
        
        <script type="text/javascript" src="/static/js/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/modernizr.custom.js"></script>
        <style type="text/css">
        .copyright {
    background: #111;
    font-size: 13px;
    text-align: center;
    color: #555555;
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 1px solid #303030;
}</style>
    </head>

<body>
                               
    <div class="navigation">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9 col-sm-12 col-xs-12">
                        <div class="navbar-header">     
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#demo-navbar">
                                <span class="sr-only">Togggle Navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="{% url 'index' %}" class="navbar-brand">独景网</a>
                        </div>

                        <div class="collapse navbar-collapse" id="demo-navbar">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="{% url 'index' %}">首页</a></li>
                                <li><a href="{% url 'djread' %}">读景</a></li>
                                <li><a href="{% url 'djsearch' %}">寻景</a></li>
                                <li><a href="{% url 'user' %}">用户</a></li>
                                <li><a href="##" data-toggle="modal" data-target="#about">关于</a></li>
                            </ul>
                        </div>
                    </div><!-- col-sm -->
                </div><!--  row -->
            </div><!-- contaioner -->
        </nav>          
    </div>  

    <!-- Modal -->
    <div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">关于我们</h4>
          </div>
          <div class="modal-body">
            <P>建立属于大学生的个人旅游博客空间</P>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>


  <main class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12">

          <div class="panel panel-default information">
            <div class="panel-heading panel-header">个人信息</div>
            <div class="panel-body">
                  <div class="col-md-4 col-sm-12 col-xs-12">
                    <img id="userimage" src="/static/image/profile.png" alt="user">
                     <a href="#" class="btn btn-primary">修改头像</a>
                     <a href="#" class="btn btn-success">修改密码</a>
                  </div>
                  <div class="col-md-offset-1 col-md-4 col-sm-12 col-xs-12">
                    <form action="post">
                      <div class="form-group">
                        <label for="name">昵称</label>
                        <input type="text" class="form-control" id="name" placeholder="剑起沧澜" />
                      </div>
                      <div class="form-group">
                        <label for="birthday">生日</label>
                        <input type="text" class="form-control" id="birthday" placeholder="1996年10月1日" />
                      </div>
                      <div class="form-group">
                        <label for="man" class="radio-inline">
                          <input type="radio" id="man" value="option1" name="sex" checked>男性
                        </label>
                        <label for="woman" class="radio-inline">
                          <input type="radio" id="woman" value="option2" name="sex">女性
                        </label>
                      </div>
                      <div class="form-group">
                        <label for="email">邮箱</label>
                        <input type="email" class="form-control" id="email" placeholder="email">
                      </div>
                       <div class="form-group">
                        <label for="phone">手机</label>
                        <input type="text" class="form-control" id="phone" placeholder="phone">
                      </div>
                      <button type="submit" class="btn btn-primary">提交</button>
                    </form>
                  </div>
            </div>
          </div>

        </div><!-- /. col -->
      </div><!-- /.  row -->
    </div><!-- /. container -->
  </main>



  <footer>
        <div class="container">
          <div class="row">
      
            <div class="col-xs-12 col-sm-4 col-md-4">
                 <h4>加入我们</h4>
                 <p>
                  QQ:762634089<br>
                  email:762634089@qq.com<br>
                 </p>
            </div>
           
            <div class="col-xs-12 col-sm-4 col-md-4">            
              <h4>有用链接</h4>
                <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                  <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-skype"></i></a></li>        
                </ul>
            </div>
      
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h4>时事通讯</h4>
              <form class="form" role="form">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="input-group">
                      <label class="sr-only" for="subscribe-email">请输入你的要求...</label>
                      <input type="email" class="form-control" id="subscribe-email" placeholder="请输入你的要求...">
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-success">发 送</button>
                      </span>
                    </div>
                  </div>
                </div>
              </form>
              <br />          
            </div>  
          </div>
        </div>   
  </footer>
<div class="copyright wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
        <div class="container">
          <span>Copyright &copy; <a style= "color:#555555" href="http://2017.jsjds.org/">2017 中国大学生计算机设计大赛比赛用&nbsp&nbsp|&nbsp&nbsp</a></span>
                    <span><a style= "color:#555555" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=34019102000116" target="_blank"><img src="/static/image/beian.png" alt="police beian" >皖公网安备 34019102000116号</a></span></center> 
     
        </div>
      </div>


</body>
</html>